# ***Fundamentos da Linguagem***

## *Aula 1: Introdução ao Jupyter*

Essa célula usa a formatação markdown

O kernel do python é o interpretador que a gente vai usar

In [ ]:
print("Hello, World.")

## *Aula 2: Números*

**Adição**

In [ ]:
2+1

**Subtração**

In [ ]:
2-1

**Multiplicação**

In [ ]:
1*2

**Divisão**

In [ ]:
1 / 2

**Potência**

In [ ]:
2**2

**Radiciação**

In [ ]:
4 ** (1/2)

## *Aula 3: Variáveis*

In [ ]:
a = 3

In [ ]:
a

Regras:
1. O nome não pode começar com números
2. O nome não pode ter espaços
3. Simbolos proíbidos: #, @
4. Por vias das dúvidas, use apenas "_" como símbolo especial
5. Por padrão, variáveis tem nomes minúsculos

In [ ]:
variavel1 = 2

In [ ]:
variavel1 + a

In [ ]:
b = variavel1 + a
print(b)

In [ ]:
a = a ** 2
a

## *Aula 4: Strings e Indexação*

In [ ]:
string1 = "Hello"
string1

In [ ]:
string2 = 'isto é uma string'
string2

In [ ]:
string3 = 'isto são "aspas"'
string3

In [ ]:
len(string2)

In [ ]:
string4 = string1 + ", " + string2
string4

In [ ]:
string1[0]

In [ ]:
string1[:]

In [ ]:
string1[1:4]

In [ ]:
string1[-5]

In [ ]:
string1[-1]

In [ ]:
string1[::2]

In [ ]:
string1[::1]

In [ ]:
string1[::-1]

## *Aula 5: Mais sobre Strings e métodos embotidos*

In [ ]:
string1 = 5
string1

Você não consegue alterar somente uma letra em uma string (Item assignment)

In [ ]:
string2[0] = 'h'

In [ ]:
"a" * 10

In [ ]:
type("a") #mostra o tipo da variável

In [ ]:
dir("hello") #mostra todos os métodos associados à essa variável (concat, sum, ...)

In [ ]:
"Hello".lower() #Deixa todas as letras minúsculas

In [ ]:
"hello".upper() # Deixa todas as letras maiúsculas

In [ ]:
"hello world".split() #Divide uma str baeando no argumento (espaço = default) e retorna uma lista

In [ ]:
email1 = "emailgenerico@gmail.com"
email1.split("@")

In [ ]:
idade = 10
"Idade da pessoa é {} anos".format(idade)

In [ ]:
idade = 10
nome = "Enzo"
"Idade da pessoa é {} anos e o nome é {}".format(idade, nome)

In [ ]:
idade = 10
nome = "Enzo"
"Idade da pessoa é {a} anos e o nome é {b}".format(b=nome, a=idade)

## *Aula 6: Listas*

In [ ]:
list1 = [1, 2, 3]
list1

In [ ]:
type(list1)

In [ ]:
list1[0]

In [ ]:
list1[1:-1]

In [ ]:
list2 = [1,2, "hello", [1,2,3]]

In [ ]:
list2[3]

In [ ]:
list2[3][1:-1]

In [ ]:
list2[2].upper()

In [ ]:
list2 + [3]

In [ ]:
list2 *2

In [ ]:
list2

### Métodos básicos de listas

In [ ]:
l =[1,2,3]

In [ ]:
l.append("4")

In [ ]:
l

In [ ]:
l.pop()

In [ ]:
l

In [ ]:
new_l = ['a','b','c','d']

In [ ]:
new_l

In [ ]:
new_l.reverse()
new_l

In [ ]:
nlist1 = [1,2,3]
nlist2 = [4,5,6]
nlist3 = [7,8,9]

In [ ]:
nlist4 = [nlist1, nlist2, nlist3]

In [ ]:
nlist4

In [ ]:
nlist4[0]

In [ ]:
nlist4[0][0]

## *Aula 7: Dicionários*

Armazena pares de dados, sendo o primeiro a chave e o segundo o valor.

A chave pode ser apenas str ou int. 

O valor pode ser qualquer coisa

In [3]:
dic1 = {"nome": "Paulo", "idade": 20, "filhos" : ["joão", "maria"]}
dic1

{'nome': 'Paulo', 'idade': 20, 'filhos': ['joão', 'maria']}

In [6]:
dic1["idade"]

20

In [7]:
dic1["idade"] = 30 #Alterando um valor

In [9]:
dic1["cidade"] = "Rio de Janeiro" #Adicionando uma variável não existente

In [10]:
dic1

{'nome': 'Paulo',
 'idade': 30,
 'filhos': ['joão', 'maria'],
 'cidade': 'Rio de Janeiro'}

In [11]:
dic1["random var"] = {"a":1, "b":2}
dic1 #propriedade de aninhamento

{'nome': 'Paulo',
 'idade': 30,
 'filhos': ['joão', 'maria'],
 'cidade': 'Rio de Janeiro',
 'random var': {'a': 1, 'b': 2}}

### Métodos dos dicionários

In [13]:
dic1.keys() #retorna as chaves

dict_keys(['nome', 'idade', 'filhos', 'cidade', 'random var'])

In [14]:
dic1.values() #retorna os valores

dict_values(['Paulo', 30, ['joão', 'maria'], 'Rio de Janeiro', {'a': 1, 'b': 2}])

In [15]:
dic1.items() #retorna no dicionário em formato de tupla

dict_items([('nome', 'Paulo'), ('idade', 30), ('filhos', ['joão', 'maria']), ('cidade', 'Rio de Janeiro'), ('random var', {'a': 1, 'b': 2})])

## *Aula 8: Tuplas*

Os elementos de uma tupla não são mutáveis

In [16]:
t = (1,2,3)
t

(1, 2, 3)

As propriedades de listas aqui são as mesma, exceto a questão de poder alterar um valor

In [17]:
t[1]

2

In [18]:
t[:-1]

(1, 2)

In [19]:
a, b = (1,2) #Multipla declaração de variáveis

In [20]:
a

1

In [21]:
b

2

## *Aula 9: Input, Sets e Booleanos*

In [ ]:
input() #permite a entrada de dados

In [22]:
a = input()

In [23]:
a #o input sempre recebe uma str

'2'

In [25]:
int(a) #conversão para int

2

In [26]:
float(a) #conversão para float

2.0

In [29]:
x =set() #é um conjuto, uma lista que não se repete. 
#Sempre que eu adicionar um valor repetido ele irá jogar esse valor no lixo

In [28]:
x

set()

In [31]:
x.add(1)
x

{1}

In [32]:
x.add(2)
x

{1, 2}

In [33]:
x.add(4)
x

{1, 2, 4}

In [35]:
x.add(3) #o set deixa o conjunto em ordem crescente
x #independente de eu ter add o 3 dps do 4

{1, 2, 3, 4}

In [37]:
x.add(3)
x #ele jogou o 3 no lixo

{1, 2, 3, 4}

In [38]:
l = [1,2,3,4,4,5,5,5]

In [39]:
set(l) #tirou os valores repetidos

{1, 2, 3, 4, 5}

In [40]:
l2 = set(l)

In [41]:
x.union(l2)

{1, 2, 3, 4, 5}

In [42]:
x.intersection(l)

{1, 2, 3, 4}

In [43]:
a = True

In [44]:
a

True

In [45]:
b = False

In [46]:
1 > 2

False

In [48]:
type(1>2)

bool

In [49]:
type(a)

bool

## *Aula 10: Operadores de comparação*

### Tabela de operadores de comparação

**Operador** | **Descrição** | **Exemplo**
--- | --- | --- |
'==' | Se os valores de dois operandos forem iguais, a condição torna-se verdadeira. | (a == b) não é verdade.
'!=' | Se valores de dois operandos não forem iguais, a condição torna-se verdadeira. | (a != b) é verdadeiro
'<>' | Se os valores de dois operandos não forem iguais, a condição torna-se verdadeira. | (a <> b) é verdadeiro. Isso é semelhante ao operador !=.
'>' | Se o valor do operando esquerdo for maior que o valor do operando direito, a condição torna-se verdadeira. | (a > b) não é verdadeiro.
'<' | Se o valor do operando esquerdo for inferior ao valor do operando direito, a condição torna-se verdadeira. | (a < b) é verdadeiro.
'>=' | Se o valor do operando esquerdo for maior ou igual ao valor do operando direito, a condição torna-se verdadeira. | (a >= b) não é verdadeiro.
'<=' | Se o valor do operando esquerdo for menor ou igual ao valor do operando direito, a condição torna-se verdadeira. | (a <= b) é verdadeiro

## *Aula 11: Operadores em sequência*

Operadores de comparação em cadeia
Uma característica interessante do Python é a capacidade de encadear comparações
múltiplas para realizar um teste mais complexo. Você pode usar essas comparações em
cadeia como uma abreviatura para expressões booleanas maiores.
Nesta palestra, aprenderemos como encadear operadores de comparação e também
apresentamos duas outras declarações importantes em python: and e or .

In [50]:
1 < 2 <3

True

In [51]:
1<2 and 2<3

True

A lógica do and e or segue a lógica da tabela verdade